h1
{
    background-color:#E3E7E7;
    text-align: center;
}
#restaurants,#filtre, #addRestaurants, #streetView, #ajoutAvis
{
    text-align: center;
}
#map, #avis
{
    height: 600px;
}
#ensembleAvis
{
    height: 600px;
    overflow: scroll;
    
}
#ajoutAvis
{
    
    background-color: aqua;
    height: 100%
}

img
{
    width: 100%;
    height: 100%
}
#streetView, #restaurants
{
    background-color: blueviolet
}
#newCommentaire
{
    font-weight: bold;
    text-transform: uppercase;
    color: blue;
    display: inline-block;
    border: 1px solid blue;
    margin-top: 20px;
    padding: 18px 50px;
    border-radius: 3px;
}
#newCommentaire:hover
{
    background-color: coral;
}